@tailwind base;
@tailwind components;
@tailwind utilities;

body, #app {
  margin: 0;
  background: transparent;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in-up {
  animation: fadeInUp 0.3s ease forwards;
}
